body{
    font-family: Playfair-Display ;
}
.minimo-text{
    font-family: Playfair-Display ;
}

.category, .comment{
    font-family: Ubuntu;
    color: #d2cec6;
}

.minimo-comment::placeholder{
    font-family: Ubuntu;
    color: grey;
    padding-left: 20px;
    padding-top: 10px ;
    padding-bottom: ;
    padd
}